fastapi
uvicorn[standard]

pydantic
pydantic-settings

sqlalchemy

langgraph
langchain
langchain-community
langchain-groq

chromadb
rank-bm25

slowapi
redis

python-dotenv

passlib[bcrypt]
python-jose[cryptography]
python-multipart

pypdf
weasyprint

duckduckgo-search
numexpr
pwdlib[argon2]

PyJWT
Markdown